# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=ns_learnytics

# Security
SECRET_KEY=ns_learnytics_secret_key

# SSL (Set to 'true' for Render/Aiven/Cloud)
DB_SSL_REQUIRED=false
